#viz {
    display: flex;
    justify-content: center;
}
#numberCheckbox {
    display: block;
}
.checkBoxes {
    display: block;
}

.labels {

    margin-right: 10%;
}

.numLabels {
    margin-left: 15%;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

#nodeImg {
    max-height: 350px;
    max-width: 350px;
}

#left-panel {
    min-width: 300px;
    max-height: 705px;
}

#nodeDetails {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#right-panel {
    min-width: 300px;
    max-width: 300px;
    max-height: 705px;
}

.visu-container {
    flex-direction: row;
}

#amountTxt {
    margin-left: 10px;
}

.vline {
    border-left: 1px solid #a8a8a8;
}

#model-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.legend {
    font-size:  0.85em;
}

#wrong-node {
    height: 12px;
    width: 12px;
    /* background-color: #bbb; */
    border-radius: 50%;
    border: 1px solid red;
    display: inline-block;
    margin: 0 5px;
}

#selected-node {
    height: 12px;
    width: 12px;
    background-color: #0EE200;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}

@media screen and (max-width: 1400px) {
    #left-panel {
        min-width: 240px;
    }
    
    #right-panel {
        min-width: 240px;
        max-width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .visu-container {
        flex-direction: column;
    }
    @media screen and (max-width: 1220px) {
        #left-panel {
            margin-bottom: 20px;
        }
        #right-panel {
            margin-top: 20px;
            max-height: 100%;
        }
    }
}


@media screen and (max-width: 800px) {
    .row {
        flex-direction: column;
    }
    .col-sm { 
        padding-top: 20px;
    }
    #model-info {
        flex-direction: column;
    }
}